{{ define "main" }}

{{ partial "page-header.html" . }}

{{ with .Params.philosophy }}
{{ if .enable }}
{{ "<!-- philosophy -->" | safeHTML }}
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 order-2 order-lg-1">
				<h5 class="section-title-sm">{{ .subtitle | markdownify }}</h5>
				<h2 class="section-title section-title-border-half">{{ .title | markdownify }}</h2>
				<p>{{ .content | markdownify }}</p>
			</div>
			{{ "<!-- philosophy image -->" | safeHTML }}
			<div class="col-lg-5 align-self-center order-1 order-lg-2 mb-md-50">
				<img class="img-fluid w-100" src="{{ .image | relURL }}" alt="philosophy-image">
			</div>
		</div>
	</div>
</section>
{{ "<!-- /philosophy -->" | safeHTML }}
{{ end }}
{{ end }}

{{ with .Params.ceo }}
{{ if .enable }}
{{ "<!-- ceo section -->" | safeHTML }}
<section>
	<div class="container">
		<div class="row rounded bg-secondary">
			{{ "<!-- ceo image -->" | safeHTML }}
			<div class="col-lg-5 rounded-left ceo-image" style="background-image: url('{{ .bg_image | absURL }}');"></div>
			<div class="col-lg-7">
				{{ "<!-- ceo content -->" | safeHTML }}
				<div class="p-5">
					<h2 class="section-title section-title-border-half-white text-white">{{ .title | markdownify }}</h2>
					<p class="text-white">{{ .content | markdownify }}</p>
					<img src="{{ .signature | absURL }}" alt="ceo-signature">
					<h5 class="text-white">{{ .name | markdownify }}</h5>
					<h6 class="text-white">{{ .designation | markdownify }}</h6>
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /ceo section -->" | safeHTML }}
{{ end }}
{{ end }}

<!-- mission -->
{{ if .Params.mission.enable }}
{{ if .Params.mission.inherit_homepage }}
{{ with .GetPage "/" }}
{{ partial "mission.html" . }}
{{ end }}
{{ else }}
{{ partial "mission.html" . }}
{{ end }}
{{ end }}

{{ with .Params.funfacts }}
{{ if .enable }}
{{ "<!-- funfacts -->" | safeHTML }}
<section class="fun-facts overlay-dark section-sm"
  style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      {{ range .counter }}
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div
          class="d-flex flex-sm-row flex-column justify-content-lg-center align-items-center text-center text-sm-left">
          <i class="round-icon {{ .icon }} mr-sm-3 mr-0 mb-3 mb-sm-0"></i>
          <div class="text-center text-sm-left">
            <h2 class="count text-white mb-0" data-count="{{ .count }}">0</h2>
            <p class="text-white mb-0">{{ .title }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ "<!-- /funfacts -->" | safeHTML }}
{{ end }}
{{ end }}

<!-- skill -->
{{ if .Params.skill.enable }}
{{ if .Params.skill.inherit_homepage }}
{{ with .GetPage "/" }}
{{ partial "skill.html" . }}
{{ end }}
{{ else }}
{{ partial "skill.html" . }}
{{ end }}
{{ end }}

{{ end }}