<article class="card h-100">
  <div class="card-img-wrapper overlay-rounded-top">
    <img class="card-img-top" src="{{ .Params.image | absURL }}" alt="{{ .Title }}">
  </div>
  <div class="card-body p-0">
    <div class="d-flex">
      <div class="py-3 px-4 text-center">
        <h3 class="text-primary mb-0">{{ .PublishDate.Format "02" }}</h3>
        <p class="mb-0">{{ .PublishDate.Format "Jan" }}</p>
      </div>
      <div class="p-3 border-left">
        <h4><a href="{{ .Permalink }}" class="font-primary text-dark">{{ .Title }}</a></h4>
        {{with .Params.Author}} by <a class="text-primary" href="{{ `author/` | relLangURL }}{{ . | urlize }}">{{ . | title }}</a>{{end}}
      </div>
    </div>
  </div>
</article>