{{ define "main" }}

{{ partial "page-header.html" . }}

{{ "<!-- service -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="post-content">
          {{ .Content }}
        </div>
      </div>
      {{ range .Data.Pages }}
      {{ .Render "service" }}
      {{ end }}
    </div>
  </div>
</section>
{{ "<!-- /servie -->" | safeHTML }}

{{ with .Params.satisfied_clients }}
{{ "<!-- clients -->" | safeHTML }}
<section class="clients section bg-secondary overlay-dark"
	style="background-image: url('{{ .bg_image | relURL }}');">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h5 class="section-title-sm text-color">{{ .subtitle | markdownify }}</h5>
				<h2 class="text-white mb-20">{{ .title | markdownify }}</h2>
				<p class="text-white">{{ .content | markdownify }}</p>
			</div>
			<div class="col-lg-6">
				<div class="row justify-content-around align-items-center">
					{{ range .logo }}
					<div class="col-6 text-center">
						<img class="py-3" src="{{ . | relURL }}" alt="client-logo">
					</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /clients -->" | safeHTML }}
{{ end }}

<!-- testimonial -->
{{ if .Params.testimonial.enable }}
{{ if .Params.testimonial.inherit_homepage }}
{{ with .GetPage "/" }}
{{ partial "testimonial.html" . }}
{{ end }}
{{ else }}
{{ partial "testimonial.html" . }}
{{ end }}
{{ end }}

{{ end }}